body{
    margin: 0;
    padding: 0;
    text-align: center;
    
}
header{
    text-transform: uppercase;
    text-align: center;
    background-position: center;
    background-image: url(assets/backgrounds/h_img.jpg);
    background-size:cover;
    padding-top: 10%;
    font-size: 20px;
    background-repeat: no-repeat;
    color: white;
    margin: 20px; 
      
}

section{
    text-align: center;
    padding: 20px;

}
.about{
    margin: 60px;
}

h2{
    text-transform: uppercase;
}

.logo{
    height: 80px;
}
header p{
    font-size: 15px;
}
.we ul {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 70px;  
    justify-content: space-around;
}

ul li{
    list-style: none;
}   

.para-one , .para-two, .para-three{
    width: 500px;
}   

.head-one , .head-two , .head-three{
    text-transform: uppercase;
    font-weight: bold;
    
}

.services{
    background-image: url(assets/backgrounds/s_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    color: white;
    margin: 10px;  
}

.portcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.img-and-text-wrapper{
    position: relative;
}


.img-and-text-wrapper{
    padding: 15px;
}


.img-and-text-wrapper > .text-a,.text-b,.text-c,.text-d,.text-e,.text-f,.text-g,.text-h{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    margin-left: 175px;
    margin-top: 150px;
    color:rgb(242, 16, 250);
    font-weight: bold;
    background-color: white;
    padding: 10px 10px 10px 10px;
}

.contact{
    background-image: url(assets/backgrounds/c_image.jpg);
    color: white;
    padding: 40px;
    margin: 40px;
}

.icons ul{
    display: flex;
    padding: 10px;
    justify-content: center;
}
.icons p{
    text-align: center;
    text-transform: uppercase;
}

.icons > ul > li{
    margin: 15px;
}

textarea, input{
    background:transparent;
    border: 1px white solid;
    color: white;
    font-size: 20px;
   
}

::placeholder{
    color:white;
    padding-left: 5px;
}

input{
    width: 358px;
}

#dev{
    height: 83px;
    width: 80px;
}

#mana{
    height: 83px;
    width: 80px;

}